/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    color: #fff;
    background-color: #0d1b2a;
    margin: 0;
    padding: 40px 20px;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    background: #0d1b2a;
    padding: 40px;
    border-radius: 6px;
}

/* Encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
    border-bottom: 1px solid #1b263b;
    padding-bottom: .3em;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    color: #cdcecc;
}

/* Enlaces e imágenes */
a {
    color: #1780f7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    border-radius: 4px;
    margin: 25px;
}

/* Citas */
blockquote {
    border-left: 0.25em solid #415a77;
    color: #5c7795;
    padding: 0 1em;
    margin: 16px 0;
}

blockquote span {
    display: block;
    margin-top: 5px;
}

/* Listas */
ul,
ol {
    padding-left: 2em;
    margin-bottom: 16px;
}

li {
    margin-bottom: 2px;
}

/* Bloques de código (El toque pro) */
pre {
    background-color: #122132;
    border-radius: 6px;
    padding: 16px;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 85%;
    line-height: 1.45;
}

code {
    background-color: #122132;
    border-radius: 3px;
    padding: 0.2em 0.4em;
    font-family: monospace;
}

pre code {
    background: none;
    padding: 0;
}

/* Tablas (Por si acaso) */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 16px 0;
}

th,
td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

tr:nth-child(even) {
    background-color: #f6f8fa;
}